<div class="wrapper" id="users">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 pull-right">
      <p class="text-right">Logged in as
        <strong>{{username}}</strong>
      </p>
    </div>
  </div>
  <div class="row" id="insert-new">
    <form class="form" role="form">
      <div class="col-md-7">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="user.alliance" placeholder="Alliance name ...">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select ng-model="user.status" ng-options="status as (status | capitalize) for status in statuses" class="form-control">
            <option value="" disabled selected>Alliance Status</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary pull-right" ng-disabled="!user.alliance" ng-click="addUser(user)"><i class="fa fa-floppy-o"></i> Save</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="alert alert-danger" ng-show="error" role="alert">{{error}}</error>
  </div>
  <div class="row" id="users-list">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td ng-repeat="(i, th) in head" ng-click="changeSorting(th)">
            <span ng-class="selectedCls(th)">{{th | capitalize}}</span>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <!-- NOTE to myself, dont mix orderBy and 'track by $index' together ! -->
        <tr ng-repeat="user in users | orderBy:sort.column:sort.descending">
          <td>{{user.name}}</td>
          <td>{{user.alliance}}</td>
          <td class="{{user.status}}">{{user.status | capitalize}}</td>
          <td>{{user.date | date: 'MM.dd.yy'}}</td>
          <td class="action" ng-click="removeUser(user)"><i class="fa fa-times"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>