<div class="wrapper" id="users">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2"><p class="text-right">Logged in as Jane</p></div>
  </div>
  <div class="row" id="insert-new">
    <form class="form" role="form">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" id="alliancename" placeholder="Alliance name ...">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <select class="form-control">
            <option selected="selected">Alliance Status</option>
            <option>Vassal</option>
            <option>Ally</option>
            <option>Enemy</option>
            <option>NAP</option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn  btn-primary ">Save</button>
      </div>
    </form>
  </div>
  <div class="row" id="users-list">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td ng-repeat="(i, th) in head" ng-click="changeSorting(th)"><span ng-class="selectedCls(th)">{{th | capitalize}}</span></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <!-- NOTE to myself, dont mix orderBy and 'track by $index' together ! -->
        <tr ng-repeat="user in users | orderBy:sort.column:sort.descending">
          <td>{{user.name}}</td>
          <td>{{user.alliance}}</td>
          <td class="{{user.status}}">{{user.status | capitalize}}</td>
          <td>{{user.date | date}}</td>
          <td class="action" ng-click="removeUser(user)"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>