<div class="wrapper" id="users">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2"><p class="text-right">Logged in as Jane</p></div>
  </div>
  <div class="row" id="insert-new">
    <form class="form" role="form">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" id="alliancename" placeholder="Alliance name ...">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <select class="form-control">
            <option selected="selected">Alliance Status</option>
            <option>Vassal</option>
            <option>3Ally</option>
            <option>Enemy</option>
            <option>NAP</option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn  btn-primary">Save</button>
      </div>
    </form>
  </div>
  <div class="row" id="users-list">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Alliance</td>
          <td>Status</td>
          <td>Date</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jane</td>
          <td>Awesome Embers</td>
          <td>Vassal</td>
          <td>2.2.07.14</td>
          <td class="action">X</td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>Awesome Embers</td>
          <td>Vassal</td>
          <td>2.2.07.14</td>
          <td class="action">X</td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>Awesome Embers</td>
          <td>Vassal</td>
          <td>2.2.07.14</td>
          <td class="action">X</td>
        </tr>
        <tr>
          <td>Jane</td>
          <td>Awesome Embers</td>
          <td>Vassal</td>
          <td>2.2.07.14</td>
          <td class="action">X</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>