#users {
  margin-top: 7%;
  .row {
    margin: 10px 0;
  }
  #insert-new {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px 10px 10px 10px;
  }
  #users-list {
    table thead tr td {
      background-color: #eee;
    }
    table tbody tr td.action {
      text-align: center;
      background: no-repeat center center url('/img/icon_remove.png');
      &:hover {
        cursor:pointer;
      }
    }
    td.ally {
      color: green;
    }
    td.enemy {
      color: red;
    }
    td.nap {
      color: blue;
    }
    td.vassal {
      color: orange;
    }
    td span {
      padding-right: 15px;
    }
    span.sort-true {
      background: no-repeat right center url('/img/icon_down.png');
    }
    span.sort-false {
      background: no-repeat right center url('/img/icon_up.png');
    }
  }
}